@import "style/index.scss";

.button-anchor-add {
  margin: auto;
  color: $color-primary;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  span {
    font-size: 15px;
  }

  &:hover {
    color: $color-secondary;
  }
}