@import "style/index.scss";


.page-stores {
  display: flex;
  position: relative;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  text-align: center;

  .explanation {
    margin-top: 0.5rem;
    @include tablet-up {
      margin-top: 2rem;
    }
    box-shadow: 0 8px 26px -26px grey;
    background: white;
    z-index: 5;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-top: 0;
    }
  }
  h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
  }

  .scroll-list {
    justify-content: center;
    padding: 1rem;
    overflow-y: auto;
    max-height: 100%;

    .scroll-list-inner {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}