$color-green: #66892e;
$color-grey: #888a7c;
$color-berry: #f34748;
$color-berry-light: #f35959;

$color-secondary: $color-berry;
$color-primary: $color-green;
$color-primary-end: $color-berry-light;
