@import "style/index.scss";

.product-item {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
  text-align: start;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

  img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  .name {
    padding-right: 1rem;
    flex:1;
  }
  input {
    font-size: 18px;
  }

  .button-delete {
    width: 20px;
    height: 20px;
    min-width: 16px;
    min-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    border: solid 2px #333;
    border-radius: 16px;
    font-weight: 500;
    cursor: pointer;
    
    &:hover {
      border-color: $color-primary;
      color: $color-primary;
    }
  }

  .content {
    display: flex;
    flex: 1;
    margin-left: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  .container-end {
    display: flex;
    align-items: center;
  }

  .actions {
    display: flex;
    color: #ccc;
  }

  .divider {
    width: 1px;
    height: 16px;
    background-color: lightslategrey;
    margin-left: 1rem;
    margin-right: 1rem;
  }

}