@import "style/index.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  min-height: 55px;
  max-height: 55px;
  width: 100%;
  background: $color-primary;
  z-index: 1;

  @include tablet-up {
    background-color: white;
  }

  .logo {
    font-size: 50px;
    font-weight: 300;
    padding-left: 1rem;
    top: 5px;
    font-family: "DancingTime";
    color: $color-primary;

    @include mobile {
      display: none;
    }
  }

  .mobile-stub {
    @include tablet-up {
      display: none;
    }
  }

  .menu-link {
    margin-right: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    color: $color-primary;

    &:hover {
      border-bottom: solid 2px $color-secondary;
    }
  }

  .links {
    @include mobile {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
    }
  }

  .title {
    margin: auto;
    padding: 1rem;
    font-weight: 400;
    color: white;
    font-size: 18px;

    @include tablet-up {
      display: none;
    }
  }
}